.header {
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media only screen and (min-width: 1200px) {
  .header {
    height: 76px;
  }

  .logo {
    gap: 12px;
    cursor: pointer;
  }
}
