.seeMore {
  color: #0a8ceb;
  text-transform: 'uppercase';
  font-family: var(--font-sudo);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.getHigher {
  transform: translateY(-22px);
}
